*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #fd5252, #ffff5d);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 20rem;
    height: 20rem;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

h1, p{
    text-align: center;
}