@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
    width: 700px;
    /* height: 20rem;/ */
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    font-size: 18px;
    color: #333;
}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
}

.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    overflow: hidden;
} 

.search-result img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.search-result:hover img{
    opacity: 0.8;
}   

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-btn{
    padding: 10px 20px;
    background-color: #008cae;
    color: white;
    border: none;
    display: block;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin: 30px auto;
    display: none;
}

@media screen and (width < 768px) {
    .search-result{
        width: 45%;
    }
}


@media screen and (width < 480px) {
    .search-result{
        width: 100%;
    }
}